<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css"  href="/static/css/3.css" rel="stylesheet">
    <title>旋转立方体相册</title>
</head>
<body>
<div id="react">
    <div class="out_front">
        <img src="/static/img/1.jpg" class="out_pic">
    </div>
    <div class="out_back">
        <img src="/static/img/2.jpg" class="out_pic">
    </div>
    <div class="out_left">
        <img src="/static/img/3.jpg" class="out_pic">
    </div>
    <div class="out_right">
        <img src="/static/img/4.jpg" class="out_pic">
    </div>
    <div class="out_top">
        <img src="/static/img/5.jpg" class="out_pic">
    </div>
    <div class="out_bottom">
        <img src="/static/img/6.jpg" class="out_pic">
    </div>
    <span class="in_front">
        <img src="/static/img/7.jpg" class="in_pic">
    </span>
    <span class="in_back">
        <img src="/static/img/8.jpg" class="in_pic">
    </span>
    <span class="in_left">
        <img src="/static/img/9.jpg" class="in_pic">
    </span>
    <span class="in_right">
        <img src="/static/img/0.jpg" class="in_pic">
    </span>
    <span class="in_top">
        <img src="/static/img/10.jpg" class="in_pic">
    </span>
    <span class="in_bottom">
        <img src="/static/img/11.jpg" class="in_pic">
    </span>
</div>
</body>
</html>